  <h2>Usuarios</h2>
  <div class="zone">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>DNI</th>
          <th>Root</th>
          <th>Zone</th>
          <th>User Profile</th>
          <th>Action</th>
        </tr>
      </thead>

      <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.identification}}</td>
          <td><div class="btn btn-primary" *ngIf="user.root == 1">Admin</div></td>
          <td>{{user.zone?.name}}</td>
          <td>{{user.user_profile?.name}}</td>
          <td><button type="button" class="btn btn-primary">Editar</button></td>
      </tr>
    </table>
    <div class="row">
      <div class="offset-sm-5 col-sm-2" style="text-align: center;">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-center">
            
            <li class="page-item" (click)="prevPage()" *ngIf="!(page === 1)"><a class="page-link">Anterior</a></li>
            <li class="page-item" (click)="nextPage()" *ngIf="!(page === last_page)"><a class="page-link">Siguiente</a></li>
          </ul>
        </nav>
      </div>
    </div>      
  </div>
