  <h2>Zonas</h2>
  <div class="zone">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acción</th>
        </tr>
      </thead>

      <tr *ngFor="let zone of zones">
          <td>{{zone.id}}</td>
          <td>{{zone.name}}</td>
          <td nowrap>
            <button type="button" class="btn btn-primary" (click)="gotoDetail(zone.id)"><i class="fa fa-pencil-square-o"></i></button>
            <button *ngIf="zone.id != 1" type="button" class="btn btn-danger" (click)="delete(zone.id)"><i class="fa fa-trash"></i></button>
          </td>
      </tr>
    </table>
    <div class="row">
      <div class="offset-sm-5 col-sm-2" style="text-align: center;">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-center">
            
            <li class="page-item" (click)="prevPage()" *ngIf="!(page === 1)"><a class="page-link">Anterior</a></li>
            <li class="page-item" (click)="nextPage()" *ngIf="!(page === last_page)"><a class="page-link">Siguiente</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- <button type="button" class="btn btn-primary" (click)="prevPage()" *ngIf="!(page === 1)">Ant</button> -->
    <!-- <button type="button" class="btn btn-primary" (click)="nextPage()" *ngIf="!(page === last_page)">Prox</button> -->
  </div>
