  <h2>Editar Zona</h2>
  <div class="zone" *ngIf="zone">
      <table class="table">

        <tr>
            <td>Nombre</td>
            <td><input [(ngModel)]="zone.name" placeholder="name" /></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" (click)="postEditZone(zone);">Guardar</button></td>
        </tr>
      </table>
  </div>

  <div class="container">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>ID</th>
              <th>Type</th>
              <th>Location</th>
            </tr>
          </thead>
    
          <tr *ngFor="let container of containers">
              <td>{{container.id}}</td>
              <td >
                <div class="btn btn-primary" *ngIf="container.green===0">Común</div>
                <div class="btn btn-success" *ngIf="container.green===1">Reciclaje</div>
              </td>
              <td>
                <div class="btn btn-success" *ngIf="container.latest_location">{{container.latest_location.geo_x}}, {{container.latest_location.geo_y}}</div>

          </tr>
        </table>
      </div>

  