  <h2>Alertas</h2>
  <div class="container">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Zona</th>
          <th>Tipo</th>
          <th>Ubicación</th>
          <th>Estado</th>
          <th>Fecha</th>
        </tr>
      </thead>

      <tr *ngFor="let container of containers">
          <td>{{container.id}}</td>
          <td>{{container.zone?.name}}</td>
          <td >
            <div class="btn btn-primary" *ngIf="container.green===0">Común</div>
            <div class="btn btn-success" *ngIf="container.green===1">Reciclaje</div>
          </td>
          <td>
            <div class="btn btn-success" *ngIf="container.latest_location">{{container.latest_location.address}}</div>
          <td>
            <div class="btn btn-primary" *ngIf="container.latest_container_states.state_type==1 && container.latest_container_states.states.value<=25">{{container.latest_container_states.states.value}}%</div>
            <div class="btn btn-warning" *ngIf="container.latest_container_states.state_type==1 && container.latest_container_states.states.value<75 && container.latest_container_states.states.value>25">{{container.latest_container_states.states.value}}%</div>
            <div class="btn btn-danger" *ngIf="container.latest_container_states.state_type==1 && container.latest_container_states.states.value>=75">{{container.latest_container_states.states.value}}%</div>
            <div class="btn btn-primary" *ngIf="container.latest_container_states.state_type==3 && container.latest_container_states.states.alert_type.name==='Nuevo'">{{state.states.alert_type.name}}</div>
            <div class="btn btn-success" *ngIf="container.latest_container_states.state_type==3 && (container.latest_container_states.states.alert_type.name==='Sin Gases Peligrosos' || container.latest_container_states.states.alert_type.name==='Levantado')">{{container.latest_container_states.states.alert_type.name}}</div>
            <div class="btn btn-danger" *ngIf="container.latest_container_states.state_type==3 && !(container.latest_container_states.states.alert_type.name==='Nuevo') && !(container.latest_container_states.states.alert_type.name==='Sin Gases Peligrosos') && !(container.latest_container_states.states.alert_type.name==='Levantado')">{{container.latest_container_states.states.alert_type.name}}</div>
            <div class="btn btn-primary" *ngIf="container.latest_container_states.state_type==2">Nueva Ubicación</div>
            
          </td>
          <td>{{container.latest_container_states.updated_at}}</td>
      </tr>
    </table>
    <div class="row">
      <div class="offset-sm-5 col-sm-2" style="text-align: center;">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-center">
            
            <li class="page-item" (click)="prevPage()" *ngIf="!(page === 1)"><a class="page-link">Anterior</a></li>
            <li class="page-item" (click)="nextPage()" *ngIf="last_page && !(page === last_page)"><a class="page-link">Siguiente</a></li>
          </ul>
        </nav>
      </div>
    </div>  
  </div>
