<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">WADIS</a>
    

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active" >
          <a class="nav-link" [routerLink] = "['dashboard']" >Alertas <span class="sr-only">(current)</span></a>
        </li>
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link dropdown-toggle" id="navbarDropdownContainers" ngbDropdownToggle>
            Contenedores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownContainers">
            <a class="dropdown-item" [routerLink] = "['containerlist']" >Listar Contenedores</a>
            <a class="dropdown-item" [routerLink] = "['containermap']">Mapa contenedores</a>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link dropdown-toggle" id="navbarDropdownZone" ngbDropdownToggle>
            Zonas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownZone">
            <a class="dropdown-item" [routerLink] = "['zonenew']" >Nueva Zona</a>
            <a class="dropdown-item" [routerLink] = "['zonelist']"> Listar Zonas</a>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" ngbDropdownToggle>
            Calendario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" [routerLink] = "['calendario']" >Ver Calendario</a>
            <a class="dropdown-item" [routerLink] = "['tarea-nueva']">Nuevo Plan de Trabajo</a>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" ngbDropdownToggle>
            Administracion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink] = "['usuario-nuevo']" >Nuevo Usuario</a>
            <a class="dropdown-item" [routerLink] = "['userlist']" >Listar Usuarios</a>
            <a class="dropdown-item" [routerLink] = "['puesto-nuevo']">Nuevo Puesto de Trabajo</a>
            <a class="dropdown-item" [routerLink] = "['profilelist']">Listar Puestos de Trabajo</a>
          </div>
        </div>
      </ul>
      <form class="form-inline">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
      
      </form>
    </div>
  </nav>