<h2>
	Editar Plan
</h2>
	<hr>
<div class="container" *ngIf="plan">
	<div class="form-group row">
			<label for="description" class="col-sm-2 col-form-label">Descripción</label>
      <div class="col-sm-4">
				<input type="text" class="form-control" id="description" #description placeholder="Descripción" [(ngModel)]="plan.description">
			</div>    
			<label for="usuario-tipo-doc" class="col-sm-2 col-form-label">Tarea</label>
			<div class="col-sm-4">
					<select id="task_id" #taskid class="form-control" [(ngModel)]="plan.task_id">
						<option value="1">Recolectar</option>
						<option value="2">Limpiar</option>
						<option value="3">Visita de Mantenimiento</option>
						<option value="4">Levantar Contenedor Volcado</option>
						<option value="5">Apagar Incendio</option>
					</select>      
			</div>
		</div>		
  	<div class="form-group row">
      <label for="frecuency_type_id" class="col-sm-2 col-form-label">Unidad</label>
			<div class="col-sm-4">
					<select id="frecuency_type_id" #frecuencytypeid class="form-control" [(ngModel)]="plan.frecuency_type_id">
						<option value="1">Día</option>
						<option value="2">Semana</option>
						<option value="3">Mes</option>
						<option value="4">Año</option>
					</select>      
			</div>
      <label for="frecuency" class="col-sm-2 col-form-label">Frecuencia</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="frecuency" #frecuency placeholder="Frecuencia" [(ngModel)]="plan.frecuency">
      </div>
  	</div>  	


    <div class="form-group row">
      <label for="usuario-email" class="col-sm-2 col-form-label">Fecha Inicio</label>
  		<div class="col-sm-4">
				<div class="datepicker-container">
					<ng-datepicker #datestart id="date_start" [options]="options" [(ngModel)]="plan.date_start" name="date_start" ></ng-datepicker>
				</div>
  		</div>
      	<label for="usuario-password" class="col-sm-2 col-form-label">Fecha Fin</label>
		<div class="col-sm-4">
			<div class="datepicker-container">
					<ng-datepicker #dateend id="date_end" [options]="options" [(ngModel)]="plan.date_end" name="date_end" ></ng-datepicker>
				</div>		
			</div>
  	</div>

    <div class="botones">
		<div class="form-group row">
			<div class="offset-sm-5 col-sm-2">
				<button class="btn btn-primary btn-lg" (click)="add(description.value, 
																												taskid.value, 
																												frecuency.value, 
																												frecuencytypeid.value, 
																												datestart.value, 
																												dateend.value);">Guardar</button>
			</div>      
		</div>   	
		</div>
		<h2>Contenedores Asignados</h2>
		<div class="container">
			<table class="table">
				<thead class="thead-inverse">
					<tr>
						<th>ID</th>
						<th>Zone</th>
						<th>Type</th>
						<th>Location</th>
						<th>Action</th>
					</tr>
				</thead>
	
				<tr *ngFor="let container of containersAssigned">
						<td>{{container.id}}</td>
						<td>{{container.zone?.name}}</td>
						<td >
							<div class="btn btn-primary" *ngIf="container.green===0">Común</div>
							<div class="btn btn-success" *ngIf="container.green===1">Reciclaje</div>
						</td>
						<td>
							<div class="btn btn-success" *ngIf="container.latest_location">{{container.latest_location.address}}</div>

						<td><button type="button" class="btn btn-primary" (click)="unassign(plan.id, container.id)">Desasignar</button></td>
				</tr>
			</table>		

		<h2>Contenedores Sin Asignar</h2>
		<div class="container">
			<table class="table">
				<thead class="thead-inverse">
					<tr>
						<th>ID</th>
						<th>Zone</th>
						<th>Type</th>
						<th>Location</th>
						<th>Action</th>
					</tr>
				</thead>
	
				<tr *ngFor="let container of containers">
						<td>{{container.id}}</td>
						<td>{{container.zone?.name}}</td>
						<td >
							<div class="btn btn-primary" *ngIf="container.green===0">Común</div>
							<div class="btn btn-success" *ngIf="container.green===1">Reciclaje</div>
						</td>
						<td>
							<div class="btn btn-success" *ngIf="container.latest_location">{{container.latest_location.address}}</div>

						<td><button type="button" class="btn btn-primary" (click)="assign(plan.id, container.id)">Asignar</button></td>
				</tr>
			</table>
	<!-- <p>{{ f | json}}</p> -->
</div>