<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (click)='getTasks()'>
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (click)='getTasks()'>
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (click)='getTasks()'>
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4"> 
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'sp' }}</h3>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
  *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh">
  </mwl-calendar-month-view>
</div>