  <h2>Mapa de Contenedores</h2>
  <div class="container">
      <select id="zoneID" class="form-control" #zoneID>
          <option *ngFor="let zone of zones" value="{{zone.id}}">{{zone.name}}</option>
        </select>
        
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <ng-container  *ngFor="let marker of containers">
      <agm-marker  *ngIf="zoneID.value == 0 || marker?.container?.zone_id == zoneID.value" 
      (markerClick) = 'this.clickedMarker("hola", 1)'
      [latitude]="marker?.container?.latest_location?.geo_x" 
      [longitude]="marker?.container?.latest_location?.geo_y"
      [label]="marker?.container?.zone_id.toString()"
      [title]="marker?.container?.id.toString()"
      [iconUrl]= "marker.icon"
      [zIndex] = "marker.container.id"
      
      >
        <agm-info-window>
          <strong>ID: {{marker.container.id}}</strong><br>
          <strong>Código: {{marker.container.code}}</strong><br>
          <strong *ngIf="marker?.container.green==0">Reciclable: No</strong>
          <strong *ngIf="marker.container.green==1">Reciclable: Si</strong><br>
          <strong>MAC: {{marker.container?.mac}}</strong><br>
          <strong>Zona: {{marker.container?.zone?.name}}</strong><br>
          <strong *ngIf="marker?.container.latest_container_states.state_type==1 && marker?.container.latest_container_states.states.value<=25">Estado: {{marker.container.latest_container_states.states.value}}%</strong>
          <strong *ngIf="marker?.container.latest_container_states.state_type==1 && marker?.container.latest_container_states.states.value<75 && marker?.container.latest_container_states.states.value>25">Estado: {{marker.container.latest_container_states.states.value}}%</strong>
          <strong *ngIf="marker?.container.latest_container_states.state_type==1 && marker?.container.latest_container_states.states.value>=75">Estado: {{marker.container.latest_container_states.states.value}}%</strong>
          <strong *ngIf="marker?.container.latest_container_states.state_type==3 && marker?.container.latest_container_states.states.alert_type.name==='Nuevo'">Estado: {{marker.container.latest_container_states.states.alert_type.name}}</strong>
          <strong *ngIf="marker?.container.latest_container_states.state_type==3 && !(marker?.container.latest_container_states.states.alert_type.name==='Nuevo')">Estado: {{marker.container.latest_container_states.states.alert_type.name}}</strong>
          <strong *ngIf="marker?.container.latest_container_states.state_type==2">Estado: Nueva Ubicación</strong>          
        </agm-info-window>  
      </agm-marker>
        </ng-container>
    </agm-map>
  </div>
  
