  <h2>Mapa de Contenedores</h2>
  <div class="container">
      <select id="zoneID" class="form-control" #zoneID>
          <option *ngFor="let zone of zones" value="{{zone.id}}">{{zone.name}}</option>
        </select>
        
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <ng-container  *ngFor="let container of containers">
      <agm-marker  *ngIf="zoneID.value == 0 || container?.zone_id == zoneID.value" 
      (markerClick) = 'this.clickedMarker("hola", 1)'
      [latitude]="container?.latest_location?.geo_x" 
      [longitude]="container?.latest_location?.geo_y"
      [label]="container?.zone_id.toString()"
      [title]="container?.id.toString()"
      
      >
        <agm-info-window>
          <strong>ID: {{container.id}}</strong><br>
          <strong>Código: {{container.code}}</strong><br>
          <strong *ngIf="container.green==0">Reciclable: No</strong>
          <strong *ngIf="container.green==1">Reciclable: Si</strong><br>
          <strong>MAC: {{container?.mac}}</strong><br>
          <strong>Zona: {{container?.zone?.name}}</strong><br>
          <strong *ngIf="container.latest_container_states.state_type==1 && container.latest_container_states.states.value<=25">Estado: {{container.latest_container_states.states.value}}%</strong>
          <strong *ngIf="container.latest_container_states.state_type==1 && container.latest_container_states.states.value<75 && container.latest_container_states.states.value>25">Estado: {{container.latest_container_states.states.value}}%</strong>
          <strong *ngIf="container.latest_container_states.state_type==1 && container.latest_container_states.states.value>=75">Estado: {{container.latest_container_states.states.value}}%</strong>
          <strong *ngIf="container.latest_container_states.state_type==3 && container.latest_container_states.states.alert_type.name==='Nuevo'">Estado: {{container.latest_container_states.states.alert_type.name}}</strong>
          <strong *ngIf="container.latest_container_states.state_type==3 && !(container.latest_container_states.states.alert_type.name==='Nuevo')">Estado: {{container.latest_container_states.states.alert_type.name}}</strong>
          <strong *ngIf="container.latest_container_states.state_type==2">Estado: Nueva Ubicación</strong>          
        </agm-info-window>  
      </agm-marker>
        </ng-container>
    </agm-map>
  </div>
  
