  <h2>Planes de Trabajo</h2>
  <div class="zone">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Start</th>
          <th>End</th>
          <th>Frecuency</th>
          <th>Task</th>
          <th>Profile</th>
          <th>Action</th>
        </tr>
      </thead>

      <tr *ngFor="let plan of plans">
          <td>{{plan.id}}</td>
          <td>{{plan.description}}</td>
          <td>{{plan.date_start}}</td>
          <td>{{plan.date_end}}</td>
          <td>Cada {{plan.frecuency}} {{plan.frecuency_type?.name}}</td>
          <td>{{plan.task?.task_type?.name}}</td>
          <td>{{plan.task?.user_profile?.name}}</td>
          <td><button type="button" class="btn btn-primary" (click)="gotoDetail(plan.id)">Editar</button></td>
      </tr>
    </table>
    <div class="row">
      <div class="offset-sm-5 col-sm-2" style="text-align: center;">
        <nav aria-label="Page navigation example">
          <ul class="pagination text-center">
            
            <li class="page-item" (click)="prevPage()" *ngIf="!(page === 1)"><a class="page-link">Anterior</a></li>
            <li class="page-item" (click)="nextPage()" *ngIf="!(page === last_page)"><a class="page-link">Siguiente</a></li>
          </ul>
        </nav>
      </div>
    </div>      
  </div>
